* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.training,
.nutrition,
.contact,
.register {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.training {
  background-color: blueviolet;
  color: #fff;
  font-size: 100px;
}

.nutrition {
  background-color: rgb(28, 35, 136);
  color: #fff;
  font-size: 100px;
}

.contact {
  background-color: rgb(214, 77, 111);
  color: #fff;
  font-size: 100px;
}

.register {
  background-color: rgb(95, 226, 43);
  color: #fff;
  font-size: 100px;
}